.btn {
    border-radius: 25px;
}

.btn-primary {

    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);

}

.btn-secondary {

    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);

}

.btn-light {
    color: black;
    background-color: #f8f9fa;
    border-color: #f8f9fa;

}

.btn-dark {
    color: #fff;
    background-color: var(--grey);
    border-color: var(--grey);
    transition: color .3s;
    font-weight: bold;
}

.btn-mine {
    color: #2e65e6;
    background-color: #D9DADC;
    border-color: #D9DADC;
    font-weight: bold;
}