.btn {
    border-radius: 25px;
}

.btn-primary {

    color: #fff;
    background-color: #2d64e6;
    border-color: #2d64e6;

}

.btn-secondary {

    color: #fff;
    background-color: #CD3D0F;
    border-color: #CD3D0F;

}

.btn-light {
    color: black;
    background-color: #f8f9fa;
    border-color: #f8f9fa;

}

.btn-dark {
    color: #fff;
    background-color: #363636;
    border-color: #363636;
    font-weight: bold;
}

.btn-mine {
    color: #3569E6;
    background-color: #D9DADC;
    border-color: #D9DADC;
    font-weight: bold;
}