.card {
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    overflow: hidden;
}

.card-no-radius {
    border-radius: 0%;
    border: 0;
}

.card-description {
    width: 100%;
    padding-top: .5rem;

}

.link-img-centrate {
    display: flex;
    align-items: center;
    text-decoration: none;
    opacity: 0.5;
}

.tm-relative {
    position: relative;
    display: inline-block;

}

.tm-absolute {
    position: absolute;
    color: black;
    font-size: 7px;
    top: 2px;
    left: 100%;

}