.card {
    width: 100%;
    border: 1px solid #1F1F1F;
    border-radius: 20px;
    overflow: hidden;
}

.card-no-radius {
    border-radius: 0%;
    border: 0;
}

.card-footer {
    background-color: #00439C;
    border: none;
}

.card-descriptio {
    width: 85%;
    padding-left: .5rem;

}

.card .width-50 {
    width: 50%;
}

.description {
    color: black;

}

.description h2 {
    color: black;
    font-weight: bold;
}

.fa-trademark {
    font-size: 10px;

}


.link-img-centrate {
    display: flex;
    align-items: center;
    text-decoration: none;
    opacity: 0.5;
}

.tm-relative {
    position: relative;
    display: inline-block;

}

.tm-absolute {
    position: absolute;
    color: black;
    font-size: 7px;
    top: 2px;
    left: 100%;

}