/* Utilities Hover and focus */
.my-d-block{
    display: none;
    
}
.hidden{
    display: none;
}




/* Hover and focus Header */
.arzerbaan{
    height: 220px;
    width: 100%;
    display: none;
    background-color: white;
    position: absolute;
    top: 66px;
    left: 0;
}
.arzerbaan-2{ 
    width: 20%;   
    top: 66px;
    left: 80%;
}
nav a:hover .hidden-class{
    display: none;
}
nav a:hover .my-d-block{
    display: inline-block;
}
nav a:focus .arzerbaan{
    display: block;
    animation: headerAnimation .4s ease-in;
}

nav a:hover{
    color:#0070d1;
}
nav a:hover:focus{
    color:#000000;
}
@keyframes headerAnimation {
    0% {
        opacity: 0;
        height: 0;
        font-size: 0;
        display: none;
    }
    
   
    99%{
        
        opacity: 0.2;
        min-height: 220px;
        font-size: 1rem;
        
        
    }
    100% {
        opacity: 1;
        min-height: 220px;
        font-size: 1rem;
    }
}



/* Footer hover */


footer a:hover{
    color: rgb(0, 0, 0);
  
}


/* Playstation card hover */

.border-hover{
    border-bottom: 2px solid rgb(255, 255, 255);
    border-radius: 2px;
    
}
.border-hover:hover{
    border-color: #2d64e6;
    
}
.border-hover:focus{
    border-color: #2d64e6;
;
    
}
.border-hover:hover a{  
    opacity: 1;
}

.border-hover a:focus {  
    opacity: 1;
    transform: scale(1.3);
}

#joypad:focus .joypad-focus{
    display: block;
}
.gianpiniello{
    border: none;
}
/* .gianpiniello a{
    border: 2px solid white;
} */
.gianpiniello a:hover {
    box-shadow: 1px 1px 3px 5px #2d64e6;
    animation: up 0.4s linear;
}
.gianpiniello a:focus:hover{
 border: none;
 box-shadow: none;
}
.gianpiniello a:focus {
    /* box-shadow: 0 0 0 2px #2d64e6; */
    position: absolute;
    left: 0;
    height: 703px;
    animation: super-up 0.3s linear;
    transform: translateY(-800px);
}

.card.bg-grey:hover{
    
    box-shadow: 0px 0px 4px 2px white;
}
.card.bg-grey:hover img{
    transform: scale(1.2);
    
}
/* Card-game animation */
@keyframes up{
    0%{
        transform: translateY(0);

    }
    70%{
        transform: translateY(-30px);
    }
    0%{
        transform: translateY(0);

    }
}
@keyframes super-up{
    0%{
         left: 0;
         height: 0;
         width: 0;
         opacity: 0;
         background-color: transparent;
    }
    100%{
        opacity: 1;
         left: 0;
         height: 703px;
         width: 100%;
    }
}

/* Buttons hover  */

.btn-dark:hover {
    color: #fff;
    background-color: #545557;
    border-color: #545557;
}
.btn-primary:hover {
    color: #fff;
    background-color:#2d64e6 ;
    border-color: #ffffff;

  
    box-shadow: 0 0 0 2px #2d64e6;
}
.btn-secondary:hover {
    color: #fff;
    background-color:#CD3D0F ;
    border-color: white;

    box-shadow: 0 0 0 2px #CD3D0F;
}
.btn-light:hover {
    color: black;
    background-color: #f8f9fa;
    border-color: #000000;
    

    box-shadow: 0 0 0 2px #f8f9fa;
}
.btn-mine:hover {
    
    color: #3569E6;
    background-color: #D9DADC;
    border-color: black;
    font-weight: bold;

    box-shadow: 0 0 0 2px #D9DADC;
}
.btn-primary:focus {
    color: #fff;
    background-color: #032150;
    border-color: #ffffff;
    box-shadow: 0 0 0 2px #032150;
}



