@media screen and (min-width:767.8px) {
    .width-50 {
        width: 50%;
    }
}

@media screen and (min-width:991.8px) {
    .arzerbaan {
        height: 220px;
        width: 102%;
        display: none;
        background-color: white;
        position: absolute;
        top: 58px;
        left: -10px;
    }

    .arzerbaan-2 {
        width: 20%;
        top: 58px;
        left: 80%;
    }

    nav span {
        font-size: .66rem;
    }

}

@media screen and (min-width:1250px) {

    h1,
    h2 {
        font-size: var(--font-bigger);
    }

    h6 {
        font-size: var(--font-small);
    }

    .gianpiniello a:focus:hover {
        border: none;
        box-shadow: none;
    }

    .gianpiniello a:focus {
        /* box-shadow: 0 0 0 2px #2d64e6; */
        position: absolute;
        left: 0;
        height: 703px;
        animation: super-up 0.3s linear;
        transform: translateY(-800px);

    }


}

@media screen and (min-width:1273px) {

    nav span {
        font-size: 1rem;
    }

}

@media screen and (min-width:1440px) {

    nav span {
        font-size: 1.2rem;
    }

}