nav a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav span {
    font-size: 1rem;
}

nav {
    background-color: white;
    top: -17.6px;
    position: sticky;
    padding: .5rem .6rem;
    z-index: 999;
}

.logo {
    background-color: black;

}

.my-banner-image {
    position: absolute;
    z-index: 90;
    margin-top: 4rem;
}

.logo img {

    width: 100px;
}

.header-links-icon img {
    height: 15px;
    width: 15px;
}

.header-links-lens img {
    height: 50px;
    width: 35px;
}

.hamburger {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
}

.bonus-nav {
    max-width: 70%;
    margin: auto;
}