.logo {
    background-color: black;
    
}

.logo img {
    
    width: 100px;
}
.hamburger{
    justify-content: end;
}
.hamburger img{
    width: 50px;
    height: 50px;
    border: 1px solid grey;
}
nav{
    position: relative;
    padding: .5rem .6rem;
}
.header-links-icon img{
    height: 15px;
    width: 15px;
}
.header-links-lens img{
    height: 50px;
    width: 35px;
}
nav a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav span {
    font-size: 1rem;
}
nav a:hover{
    color:#0070d1;
}
footer a:hover{
    color: rgb(0, 0, 0);
    
}
nav a:hover .hidden-class{
    display: none;
}
.my-d-block{
    display: none;
    
}
nav a:hover .my-d-block{
    display: inline-block;
}
.arzerbaan{
    height: 220px;
    width: 100%;
    display: none;
    background-color: white;
    position: absolute;
    top: 66px;
    left: 0;
}
.arzerbaan-2{ 
    width: 20%;   
    top: 66px;
    left: 80%;
}

nav a:focus .arzerbaan{
        display: block;
}

.bonus-nav{
    max-width: 70%;
    margin: auto;
}   