@import url("variables.css");
@import url("buttons.css");
@import url("cards.css");
@import url("navbar.css");
@import url("hover-focus.css");



body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h2,
h1 {
    color: var(--font-lightblack);
    font-size: calc(1.925rem + .9vw);
}
h3{
    font-size: calc(1.5rem + .6vw);
}
h5 {
    color: var(--font-grey);
}

a {
    text-decoration: none;
    color: white;
}

li,
ul {
    list-style: none;
}

footer {
    background-color: var(--primary-dark);
}


footer svg {
    background-color: var(--primary-dark);
}

.card-footer {
    background-color: var(--primary-dark);
    border: none;
}

.jumbotrone h2,
.takes-it-two h2,
.bg-grey h5 {
    color: white;
}

.bg-grey {
    background-color: var(--light-grey);
    color: white;
}

.bg-lightgrey {
    background-color: var(--super-light-grey);
    color: black;
}

.blue {
    background-color: var(--primary-darker);
    color: white;
}

.text-no-limits {
    color: #0876cf;
}






/* Sections utilities */
img {
    width: 100%;
}
.bonus-nav-img{
    height: 100px;
}

.section:not(.full-height) {
    padding: 4rem .5rem;
}

.my-row-gap {
    row-gap: 1.5rem;
}

.padding-reset {
    padding: 0;
}

.width-50 {
    width: 100%;
}

.text-black {
    color: black;
}
.opacity-nav-link{
    opacity: 1;
}



/* Section jumbotrone class */
.jumbotrone {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    padding-top: 7rem;
    min-height: 662.22px;

}

.banner {
    padding-top: 7rem;
    padding-bottom: 1.5rem;
    width: 60%;
}



/* Section Takes it two class*/
.takes-it-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}

.banner-takes-two {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    width: 55%;
}


/* Play pluss class */
.banner-play-plus {
    width: 60%;
}

.section .relative-position {
    position: relative;
}


/* Social class */
.socials {
    max-width: 700px;
    margin: auto;
}


/* Footer class */
.play-logo-description img {
    width: 20px;
    height: 24px;
}



@media screen and (max-width:1300px) {
    header span {
        font-size: .70rem;
    }
}