 :root{
    --primary-color:#2d64e6 ;
    --primary-light:#0072ce;
    --primary-dark:#00439c;
    --primary-darker:#161c3b;
    --secondary-color:#cd3d0f;
    
    
    --grey:#363636;
    --light-grey:#1f1f1f;
    --super-light-grey:#bebcbb;

    --font-bigger: 3rem;
    --font-medium:1.5rem;
    --font-small:0.8rem;



    --font-black:#000;
    --font-lightblack:#1f1f1f;
    --font-grey:#808080;
}
















