/* :root{
    --primary-color:#000;
    --secondary-color:#000a;
    -
}

 */
.font-size-big{
    font-size: 2rem;
}
.text-no-limits{
    color: #0876cf;
}

.bg-grey {
    background-color: #1F1F1F;
}

.bg-lightgrey {
    background-color: #BEBCBB;
}

.blue {
    background-color: #161C3B;
}

.text-blue {
    color: blue;
}